html,
body {
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
  font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
}

:root {
  --header-height: 4rem;
  --footer-height: 4rem;
  --page-width: 48rem;
  --max-about-width: 80rem;
  --theme-color: rgb(0, 0, 0);
  --background-image: url("/public/background-light.jpg");
  --bg-color: #ffffff;
  --header-bg: rgba(255, 255, 255, 0.8);
  --color-a-link: rgba(0, 90, 71, 0.8);
  --color-a-link-hover: #014637;
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
  --table-border-color: var(--theme-color);
  --h-color: var(--color-a-link);
  --list-color: var(--color-a-link);

  line-height: 1.2rem;
}

body {
  background-image: var(--background-image);
  background-size: contain;
  position: relative;
  color: var(--theme-color);
  padding-block-start: calc(var(--header-height) + 1rem);

  /* prevent overflow */
  word-break: break-all;

  &.loading {
    visibility: visible;
  }
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--h-color);

  &:hover a[class="anchor"]::after {
    content: attr(data-anchorjs-icon);
  }
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline-style: none;
  border: 0.2rem solid #ccc;
  border-radius: 0.2rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-weight: 700;
}

.decoration-line:hover,
.decoration-line:hover i {
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: var(--table-border-color);
  text-underline-offset: 0.5rem;
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50vh;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--theme-color) var(--theme-color) var(--theme-color) transparent;
  animation: spin 1s ease-in-out infinite;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

.text-center {
  text-align: center;
}

/* 与文字底部对齐 */
i {
  vertical-align: baseline !important;
}

::view-transition-new(root) {
  animation: turnOn 800ms ease-in-out;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: none;
}

/* 新视图过渡 */
@keyframes turnOn {
  0% {
    clip-path: circle(0% at var(--click-x) var(--click-y));
  }

  100% {
    clip-path: circle(var(--end-radius) at var(--click-x) var(--click-y));
  }
}