:root {
  --header-height: 4rem;
  --footer-height: 4rem;
  --page-width: 48rem;
  --theme-color: rgb(0, 0, 0);
  --bg-color: #ffffff;
  --header-bg: rgba(255, 255, 255, 0.8);
  --color-a-link: rgba(0, 90, 71, 0.8);
  --color-a-link-hover: #014637;
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
  --table-border-color: var(--theme-color);
  --h-color: var(--color-a-link);
  --list-color: var(--color-a-link);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(26, 26, 26);
    --theme-color: #ffffff;
    --header-bg: rgba(26, 26, 26, 0.8);
    --color-a-link: rgba(1, 202, 159, 0.8);
    --color-a-link-hover: #00d4a1;
    --color-note: #2f81f7;
    --color-tip: #3fb950;
    --color-warning: #d29922;
    --color-severe: #db6d28;
    --color-caution: #f85149;
    --color-important: #a371f7;
  }
}

body {
  background-color: var(--bg-color);
  background-size: cover;
  padding-block-end: 0.5rem;
  position: relative;
  color: var(--theme-color);

  /* 防止溢出 */
  word-break: break-all;

  &.loading {
    visibility: visible;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

article.blog-article a {
  color: var(--color-a-link);

  &:hover {
    color: var(--color-a-link-hover);
  }
}

header.blog-header {
  display: flex;
  position: fixed;
  /* for backdrop-filter */
  z-index: 1;
  top: 0;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  transition: top 0.6s ease-in-out;
  border-block-end: var(--theme-color) 0.1rem solid;

  /* 与文字底部对齐 */
  & i {
    vertical-align: baseline !important;
  }

  & :where(a, div.toy) {
    padding-inline-start: 0.5rem;
    color: var(--theme-color);

    &>img {
      width: calc(var(--header-height) - 1rem);
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &>.header-nav {
    display: flex;
    height: 100%;

    & :where(a, .toy) {
      flex: 1 1 auto;
      height: var(--header-height);
      line-height: var(--header-height);
      text-align: center;
      vertical-align: baseline;
      padding: 0 2rem;
    }
  }
}

main.blog-main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: center;

  &:has(article.blog-article) {
    align-items: flex-start;
  }

  margin-block-start: calc(var(--header-height) + 1rem);
  margin-block-end: 1.2rem;

  /* 除了锚点 a 都要换行 */
  & :not(:where(h2, h3, h4, h5, h6)) a[href^="http"] {
    overflow-wrap: break-word;
    width: 100%;
  }

  & .box .tag,
  & article .tag {
    /* 标签换行 */
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    border: 0.1rem solid var(--theme-color);
    padding: 0.1rem 0.6rem;
    margin-block: 0.1rem;
    border-radius: 0.3rem;
    color: var(--color-a-link);

    &:nth-child(n+2) {
      margin-inline-start: 0.5rem;
    }

    &:hover {
      box-shadow: 0.1rem 0.1rem 0.5rem var(--theme-color);
    }
  }
}

section.box :has(h3) {
  cursor: pointer;

  &:hover {
    transform: translateX(-1px) translateY(-2px);
  }
}

section.box a {
  color: var(--theme-color);
}

main.blog-main :where(article.blog-article, .box) {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background-color: var(--header-bg);
  border: 0.1rem solid var(--theme-color);
  padding: 0.8rem 1rem;
  margin-inline: 0.5rem;
  margin-block-start: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.4rem var(--theme-color);
}

main.blog-main .pages {
  display: flex;
  justify-content: space-between;
  margin-block-start: 4rem;
}

footer.blog-footer {
  border-block-start: var(--theme-color) 0.1rem solid;

  .footer-container {
    margin: 0 auto;
    padding: 1rem 1.5rem;
  }

  .footer-container a {
    color: var(--color-a-link);
  }
}

footer div.footer-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & a.icon {
    padding: 0 0.8rem;
  }
}

.giscus {
  width: var(--page-width);
  margin: 0 auto;
  margin-block-end: 4rem;
}

.friend-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  padding-block-end: 4rem;
  gap: 1.6rem;
}

.friend-card {
  display: flex;
  padding: 0.4rem 0.8rem;
  gap: 1rem;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem var(--theme-color);
  }

  & img {
    height: 100px;
  }

  & h3,
  & p {
    color: var(--theme-color);
  }
}

.friend-article {
  width: 100%;
}

.friend-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.friend-field {
  text-align: center;
  padding-block: 0.2rem;

  & label {
    line-height: 3rem;
  }
}

.friend-button {
  width: 12rem;
  padding: 0.4rem 0.8rem;
  margin: 0 auto;
  cursor: pointer;
}

input {
  outline-style: none;
  border: 0.2rem solid #ccc;
  border-radius: 0.2rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-weight: 700;
}

/* Match Chrome for about showing */
@media (min-width: 48rem) {
  main.blog-main :where(.box, article.blog-article) {
    width: var(--page-width);
  }

  nav.header-nav .toy {
    position: relative;
    display: block;
    padding-block-end: 1rem;
  }

  nav.toy-nav {
    width: 200%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--header-bg);
    inset-inline-start: -50%;
    overflow: hidden;
    clip-path: polygon(0% 10%, 35% 10%, 50% 0%, 70% 10%, 100% 10%, 100% 100%, 0% 100%);
    box-shadow: 0.1rem 0.1rem 0.4rem var(--theme-color) inset;
    transition: max-height 0.5s ease-in-out;

    & a:first-child {
      padding-block-start: 1rem;
    }

    & a:hover {
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-thickness: 0.2rem;
      text-decoration-color: var(--theme-color);
      text-underline-offset: 0.5rem;
    }
  }

  div.toy:hover nav.toy-nav {
    max-height: var(--toy-nav-height);
    height: auto;
  }
}

@media (max-width: 48rem) {
  .disappear {
    display: none;
  }

  div.toy {
    display: none;
  }
}

@media (min-width: 480px) {
  #switch-icon {
    display: none;
  }
}

/* Match phone */
@media (max-width: 480px) {
  main.blog-main article.blog-article {
    width: 90%;
  }

  nav.toy-nav {
    display: none !important;
  }

  header.blog-header {
    justify-content: space-between;

    & #switch-icon:hover {
      cursor: pointer;
    }

    & #switch-icon {
      padding: 1rem;
      font-size: 2rem;
    }

    & a {
      font-size: 2rem;
      padding-inline-end: 1rem;
    }

    /*权重需要比 .header-nav 大*/
    nav.show {
      max-height: 450px;
      /* 与正常情况下产生冲突，这里设置 auto */
      height: auto;
    }

    .header-nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      background-color: var(--header-bg);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      inset-block-start: var(--header-height);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
  }

  .giscus {
    width: 90%;
    padding-inline: 1rem;
  }
}