@import url("./base.css");

:root {
  --header-height: 4rem;
  --page-width: 48rem;
  --theme-color: rgb(0, 0, 0);
  --header-bg: rgb(200, 200, 200);
  --color-a-link: rgba(0, 93, 73, 0.7);
  --color-a-link-hover: #005845;
  --h-color: var(--color-a-link);
  --table-border-color: var(--theme-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: rgb(240, 238, 233);
    --header-bg: rgb(46, 44, 79);
    --color-a-link: rgba(1, 202, 159, 0.7);
    --color-a-link-hover: #00d4a1;
  }
}

body {
  background-image: url("https://img.fwqaq.us/10_Sunshine_8k.jpg");
  background-size: cover;
  padding-block-end: 0.5rem;
  position: relative;
  color: var(--theme-color);

  &.loading {
    visibility: visible;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

article.blog-article a {
  color: var(--color-a-link);

  &:hover {
    color: var(--color-a-link-hover);
  }
}

header.blog-header {
  display: flex;
  position: fixed;
  /* for backdrop-filter */
  z-index: 1;
  top: 0;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);

  /* 与文字底部对齐 */
  & i {
    vertical-align: baseline !important;
  }

  & :where(a, div.toy) {
    padding-inline-start: 0.5rem;
    color: var(--theme-color);

    &>img {
      width: calc(var(--header-height) - 1rem);
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &>.header-nav {
    display: flex;
    height: 100%;
    background-color: var(--header-bg);

    & :where(a, .toy) {
      flex: 1 1 auto;
      height: var(--header-height);
      line-height: var(--header-height);
      text-align: center;
      vertical-align: baseline;
      padding: 0 2rem;
    }
  }
}

main.blog-main {
  margin-block-start: calc(var(--header-height) + 1rem);

  /* 除了锚点 a 都要换行 */
  & :not(:where(h2, h3, h4, h5, h6)) a[href^="http"] {
    overflow-wrap: break-word;
    width: 100%;
  }

  & .box .tag,
  & article .tag {
    /* 标签换行 */
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    border: 0.1rem solid rgb(255, 255, 255);
    padding: 0.1rem 0.6rem;
    margin-block: 0.1rem;
    border-radius: 0.3rem;
    color: var(--theme-color);

    &:nth-child(n+2) {
      margin-inline-start: 0.5rem;
    }
  }
}

section.box :has(h3) {
  cursor: pointer;

  &:hover {
    transform: translateX(-1px) translateY(-2px);
  }
}

section.box a {
  color: var(--theme-color);
}

main.blog-main :where(article, .box) {
  /* backdrop-filter: blur(100rem);
  -webkit-backdrop-filter: blur(100rem); */
  background-color: var(--header-bg);
  padding: 0.8rem 1rem;
  margin-inline: 0.5rem;
  margin-block-start: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.4rem rgb(55, 55, 55);
}

main.blog-main .pages {
  display: flex;
  justify-content: space-between;
  margin-block-start: 4rem;
}

.giscus {
  width: var(--page-width);
  margin: 0 auto;
  margin-block-end: 4rem;
}

/* Match Google for about showing */
@media (min-width: 48rem) {
  main.blog-main {
    width: var(--page-width);
    margin-inline: auto;
  }

  nav.header-nav .toy {
    position: relative;
    display: block;
    padding-block-end: 1rem;
  }

  nav.toy-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--header-bg);
    width: 200%;
    inset-inline-start: -50%;
    max-height: 0;
    overflow: hidden;
    clip-path: polygon(0% 10%, 35% 10%, 50% 0%, 70% 10%, 100% 10%, 100% 100%, 0% 100%);
    transition: max-height 0.5s ease-in-out;

    & a:first-child {
      padding-block-start: 1rem;
    }
  }

  div.toy:hover nav.toy-nav {
    max-height: fit-content;
    height: auto;
  }
}

/* Match phone */
@media (max-width: 480px) {
  nav.toy-nav {
    display: none !important;
  }

  header.blog-header {
    justify-content: center;

    .show {
      max-height: fit-content;
      /* 与正常情况下产生冲突，这里设置 auto */
      height: auto;
    }

    &>nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      inset-block-start: var(--header-height);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;

      &>:where(a, .toy) {
        background-color: var(--transparent-theme-color);
      }
    }
  }

  .giscus {
    width: 90%;
    padding-inline: 1rem;
  }
}