h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: rgb(15, 71, 52);

  &:hover a[class="anchor"]::after {
    content: attr(data-anchorjs-icon);
  }
}

h1 {
  text-align: center;
}

code {
  background-color: rgba(24, 159, 114, 0.773);
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
}

/* clear */
pre code {
  padding: 0%;
  border-radius: 0%;
}

blockquote {
  line-height: 1.5;
  border-inline-start: 0.3rem solid rgba(50, 48, 91, 0.759);
  border-radius: 5px;
  padding-inline-start: 0.25rem;
  padding-block: 0.3rem;
  margin-inline: 1rem;
  background-color: rgba(0, 255, 174, 0.1);
}

pre {
  overflow: auto;
  background-color: rgba(72, 69, 138);
  padding: 1.5rem 1.2rem;
  border-radius: 0.25rem;
  min-height: 2rem;
  margin: 0.2rem auto;

  & code {
    background-color: inherit;
  }
}

ul li {
  margin-block: 0.2rem;
  margin-inline-start: 0rem;
}

table {
  margin: 0 auto;
  border-collapse: collapse;

  & th,
  td {
    border: 0.2rem solid black;
    padding-inline-start: 0.2rem;
  }
}