
@import "./base.css";

.warp{
  max-inline-size: 80vw;
}

body:has(.warp){
  display: flex;
  justify-content: center;
}

/* header */

header .meta-info{
  display: flex;
  justify-content: space-between;
}

/* code block */

.code-content{
  padding-block: 1rem;
  max-inline-size: 600px;
}

.code-content .code-block{
  inline-size: 100%;
  overflow-x: auto;
  padding-block-end: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.code-block .code-button{
  display: flex;
  padding-inline-start: 0.1rem;
}

.code-button > span {
  inline-size: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.2rem;
}

.code-button > span:hover{
  cursor: pointer;
}

.code-button :nth-child(1){
  background-color: red;
}

.code-button :nth-child(2) {
  background-color: #df7d1b;
}

.code-button :nth-child(3) {
  background-color: green;
}

.code-fragment{
  padding-inline-start: 1.6rem;
}

/* code-inlie */

.code-inline{
  padding-inline: 0.1rem;
  font-size: 1rem;
  color: var(--md-color-code-inline);
  background-color: var(--md-background-code-inline);
  border-radius: 0.3rem;
}

/* 标题 */

h2,h3,h4,h5,h6{
  padding-block: 1rem 0.4rem;
}

.header-anchor span{
  background: linear-gradient(90deg, var(--md-anchor-hover),var(--md-anchor-hover)) no-repeat right bottom;
  background-size: 0 3px;
  transition: background-size 1s;
}

.header-anchor span:hover{
  background-size: 100% 3px;
  background-position-x: left;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover{
  cursor: pointer;
}

.header-anchor::before{
  content: '🔗';
  padding-inline-end: 0.2rem;
  font-size: 1.2rem;
}

.header-anchor:hover{
  color:var(--md-anchor-hover);
  transition: 1s;
}

.title{
  text-align: center;
  padding-block: 1rem 2rem;
}

/* > 引用 */

blockquote{
  background-color: var(--md-block-quote-background-color);
  border-inline-start: 0.4rem solid var(--md-block-quote-color);
  padding-block: 1rem;
  margin-block: 0.4rem;
  margin-inline-start: 1rem;
}
blockquote p {
  padding-inline-start: 0.8rem;
}

/* 表格 */

.my-table{
  text-align: center;
  line-height: 1.6rem;
  border: 1px solid var(--md-color-code-inline);
  margin: 0 auto;
  border-collapse: collapse;
}

thead{
  color: white;
}

th, td {
  margin: 0 auto;
  padding-inline: 1rem;
  white-space: nowrap;
  border: 1px solid var(--md-color-code-inline);
}
